@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300");

body {
  text-align: center;
  /*background-color: #131415;*/
  font-family: "Microsoft YaHei" !important;
  background-image: url(../img/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(224, 230, 235, 0.89);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  overflow: hidden;
  filter: grayscale(100%)ï¼›
}

.column,
.colon,
.ms{
  display: inline-block;
  vertical-align: top;
  font-size: 86px;
  line-height: 86px;
}

.text1 {
  transform: translateY(calc(50vh - 90px)) !important;
}

.column {
  -webkit-transition:width 300ms,-webkit-transform 300ms;
  transition: width 300ms,-webkit-transform 300ms;
  transition: width 300ms,transform 300ms;
  transition: width 300ms,transform 300ms, -webkit-transform 300ms;
}

.colon {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: translateY(calc(50vh - 43px));
  transform: translateY(calc(50vh - 43px));
}

.num {
  -webkit-transition: opacity 500ms, text-shadow 100ms;
  transition: opacity 500ms, text-shadow 100ms;
  opacity: 0.025;
}

.num.visible {
  opacity: 1.0;
  text-shadow: 1px 1px 0px #336699;
}

.num.close {
  opacity: 0.35;
}

.num.far {
  opacity: 0.15;
}

.num.distant {
  opacity: 0.1;
}

.ms {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: translateY(calc(50vh - 20px));
  transform: translateY(calc(50vh - 20px));
  font-size: 30px;
  width: 60px;
}
@keyframes widthToZero{
  0%{

  }
  100%{

  }
}
